<meta charset="utf-8">
.account{
	font-size: 15px;
  	}

.logout{
	margin-right: 10px;
}

br {
	display: block;
	content: "";
	margin: 50px 0;
}

* {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
	/* font-family: Comic Sans MS; */
}
